@import "tailwindcss";

@theme {
  --color-spotify-green: #1ed760;
  --color-spotify-black: #121212;
  --color-spotify-gray: #181818;
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}